<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style/panel_creacion_bebidas.css')}}">
    <title>Document</title>
</head>
<body>
    <h2>GESTION Y CREACION DE COMIDAS</h2>
    <header>
    <nav class=" navbar dark bg-warning">
    <ul>
        <a  href="">pedidos</a>
        <a   href="">stock</a>
        <a   href="{{url_for('panel_creacion_bebidas')}}">bebidas</a>
        <a   href="">postres</a>
        <a   href="">promociones</a>
        <a   href="">actividad</a>
    </ul>
    </nav>
    </header> 
 <form id="productos">
<div class="input-group mb-2">
 <input type="text" class="form-control" placeholder="nuevo producto" aria-label="Recipient’s username" aria-describedby="basic-addon2">
 <button type="button" data-bs-toggle="modal"  data-bs-target="#exampleModal"   class="input-group-text btn btn-warning"><i class="bi bi-plus"></i></button>
</div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title " id="exampleModalLabel">producto nuevo:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="card" >
     <form class="d-flex justify-content-center"  method="POST">
        <div class="card-body">
        <label>nombre:</label>
        <input type="text" class="form-control" name="nombre">
        <br>
        <label>descripcion:</label>
        <input type="text" class="form-control" name="descripcion">
        <br>
        <label>precio:</label>
        <input type="number" class="form-control" name="fecha" min="0"> 
        <br>
        <label>categoria:</label>
        <input type="number" class="form-control" name="categoria">
        <br>
        <label>stock maximo:</label>
        <input type="number" class="form-control" name="stockmaximo" min="0"> 
        <br>
        <label>stock minimo:</label>
        <input type="number" class="form-control" name="stockminimo" min="0"> 
        </div>
    </form>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Crear</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</html>